= render :partial => 'spree/admin/shared/configuration_menu'

- content_for :page_title do
  = t(:edit_affiliate)

- content_for :page_actions do
  %li
    = button_link_to t(:affiliates), spree.admin_affiliates_path, :icon => 'icon-arrow-left'
= render :partial => 'spree/shared/error_messages', :locals => { :target => @affiliate }
= form_for [:admin, @affiliate] do |f|
  %fieldset.no-border-top
    = render :partial => 'form', :locals => { :f => f }
    .clear
    = render :partial => 'spree/admin/shared/edit_resource_links'


%h1.page-title Referred Users
%br
%table.index
  %colgroup
    %col{style: "width: 70%"}
    %col{style: "width: 30%"}
  %thead
    %tr
      %th Name
      %th Total Orders
  %tbody
    - @affiliate.partner.referred_users.each do |user|
      %tr
        %td= link_to user.full_name, spree.edit_admin_user_path(user)
        %td.align-center= user.orders.complete.count