- content_for :page_title do
  = Spree.t(:affiliates)
- content_for :page_actions do
  %li
    = button_link_to Spree.t(:new_affiliate), spree.new_admin_affiliate_path, :icon => 'icon-plus'
.clear

%br
- if @affiliates.any?
  %table.index
    %colgroup
      %col{style: "width: 20%"}/
      %col{style: "width: 10%"}/
      %col{style: "width: 35%"}/
      %col{style: "width: 10%"}/
      %col{style: "width: 15%"}/
      %col{style: "width: 10%"}/
    %thead
      %tr
        %th= Spree.t(:name)
        %th= Spree.t(:referred_users)
        %th= Spree.t(:active)
        %th.actions
    %tbody
      - @affiliates.each do |affiliate|
        - partner = affiliate.partner
        %tr{class: cycle('odd', 'even'), id: spree_dom_id(affiliate)}
          %td= partner.full_name
          %td.align-center
            - partner.referred_users.each do |user|
              = user.full_name
              %br
          %td.align-center
            = partner.locked_at == nil ? 'Yes' : 'No'
          %td.actions
            = link_to_edit affiliate, :no_text => true
            = link_to_delete affiliate, :no_text => true
- else
  .alpha.twelve.columns.no-objects-found
    = Spree.t(:no_resource_found, resource: I18n.t(:other, scope: 'activerecord.models.spree/affiliate'))    
    = link_to Spree.t(:add_one), spree.new_admin_affiliate_path